.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #042f1a;
  color: white;
  padding: 2rem;

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
}